{{ define "main" }}

<div class="main">
    <article>
        <div class="article_header">
            <h1>Tags</h1>
        {{ $allTags := newScratch }}
        {{ $allTags.Set "tags" slice }}
        {{ range .Pages }}
            {{ if .Params.tags }}
                {{ $allTags.Set "tags" ( ($allTags.Get "tags") | append .Params.tags )}}
            {{ end }}
        {{ end }}
            <div class="tags">
                <a href="/post/">All</a>
            {{  range ($allTags.Get "tags" | uniq) }}
                <a href="/tags/{{ . }}">{{ . }}</a>
            {{ end }}
            </div>
        </div>
        
        <!-- <div id="data" data-pages="{{ jsonify .Pages }}">DATA here</div> -->

        {{ $curr := newScratch }}
        {{ $curr.Set "year" "2999" }}
        <div class="article_list">
            {{ range $index, $element := .Pages }}
                {{ if $element.Params.date }}    
                    {{ if not (eq ($curr.Get "year") (dateFormat "2006" $element.Params.date)) }}
                        {{ if gt $index 0 }}</ul></section>{{end}}<section>
                        <h2>{{ dateFormat "2006" .Params.date }}</h2><ul>
                        {{ $curr.Set "year" ($element.Params.date.Format "2006") }}
                    {{end}}
                        <li data-date='{{$element.Params.date.Format "2006-01-02"}}'>
                            <span class="published">{{ dateFormat "Jan 2" $element.Params.date }}</span>
                            <a href="{{.RelPermalink}}" title="{{.Content | truncate 35}}">{{ .Title }}</a>
                        </li>
                {{ end }}
            {{end}}
            </ul></section>
        </div>
    </article>
</div>

<script>
    var loc = location.href.split('/');
    loc.pop();
    loc = loc.slice(-2);
    if (loc[0] == 'tags') {
        document.querySelectorAll('.tags > a').forEach(e => {
            if (e.innerText == loc[1]) {
                e.className += " highlight";
            }
        })
    } else {
        document.querySelector('.tags > a').className += " highlight";
    }
</script>
{{ end }}