body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18.5px;
    width: 100%;
    margin: 0;
    padding: 0;
}

/* Main */
.main {
    display: flex;
    width: 80%;
    margin: 0.8em auto;
    padding: 0 auto;
}
.main article.post {
    width: 80%;
    margin: 0;
    padding: 0;
}
.main aside {
    width: 20%;
    margin: 0;
    padding: 0;
}
.article_header h1 {
    font-size: 2em;
}
.article_content h2 {
    display: block;
    border-bottom: 1px solid rgb(185, 185, 185);
}
.article_content p {
    text-align: justify;
}
blockquote p{
    font-style: italic;
    border-left: 2px solid rgb(175, 175, 175);
    padding: 5px .5em;
}


/* Header Nav bar */
.header {
    width: 80%;
    margin: 0;
    padding: 15px 10%;
    background-color: rgb(255, 212, 212);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header > .header_title {
    min-width: 100px;
}
.header > .site_nav {
    padding: 0;
    margin: 0;
}
.header > .site_nav > span
{   
    position: relative;
    display: inline-block;
    margin: 0 0.12em;
    padding: 0;
    top: 25%;
}
.header_title span {
    vertical-align: middle;
}
.header_title .logo>svg{
    display: inline-block;
    height: 1.92rem;
    width: 1.92rem;
    margin: 0;
    padding: 0;
}



/* Footer */
footer {
    margin-top: auto;
    text-align: center;
    background-color: #af785f;
    padding-top: 2em;
    padding-bottom: 1em;
    font-size: 0.8em;
    color: white;
}
footer a {
    font-weight: bold;
    text-decoration: none;
    color: white;
}
footer a:hover {
    text-decoration: underline;
    padding: 0;
    margin: 0;
}
footer span.social {
    display: inline-block;
    background-color: #0072c5;
    border-radius: 50%;
    padding: 0.4rem;
    height: 1.1rem;
    width: 1.1rem;
}
footer span.social.twitter {
    background-color: #1da1f2;
}
footer span.social.github {
    background-color: black;
}
footer .social > svg {
    display: inline-block;
    height: 1.1rem;
    width: 1.1rem;
    padding: 0;
    margin: 0;
}
footer .social span.icon {
    margin: 0 0.2em;
    padding: 0;
}
footer .social span a {
    text-decoration: none;
    color: black;
    padding: 0;
    margin: 0;
}
footer .theme_info {
    font-size: 0.85em;
}


/* Responsive design */
@media only screen and (max-width: 700px) {
    .header {
        width: 90%;
        padding: 15px 5%;
    }
    .header > .header_title {
        min-width: 100px;
    }
    .header > .site_nav {
        min-width: 100px;
    }
    .main {
        display: flex;
        width: 90%;
    }

    .main article.post {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .main aside {
        display: none;
    }
  }
